<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUDRDUzR6rOrR5HRwE0ANPWBy-WKlfjTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>151270739063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.e-Mobility</string>
	<key>PROJECT_ID</key>
	<string>ninja-taxi-ua</string>
	<key>STORAGE_BUCKET</key>
	<string>ninja-taxi-ua.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151270739063:ios:276602a240952615210a72</string>
</dict>
</plist>